// Colors
$color-text: #2e3432;
$color-bg: #fff;
$color-main: #2af1a1;

// Fonts
$font-title: "Lobster";
$font-body: "Roboto";

// Breakpoints
$screen-xs-min: 1px;
$screen-sm-min: 620px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1920px;
$screen-3k-min: 2800px;
$screen-4k-min: 3840px;
$screen-8k-min: 7680px;

// Sizes
$size-navi-trigger: 5rem;
$size-navi-border: 1rem;
$size-module-space: 6rem;

// Durations
$duration-page-transition: 0.45s;
$duration-default-transition: 0.45s;