<template>
    <div class="hero">
        <responsive-image class="hero__bg" type="bgimg" :src="imgSrc" :alt="imgAlt" :has-fixed-height="true"/>
        <div class="hero__content">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import ResponsiveImage from "../elements/ResponsiveImage.vue";


  @Component({
    components: {ResponsiveImage},
    props: {
      imgAlt: {
        type: String,
        required: false,
        default: "recipeed"
      },
      imgSrc: {
        type: Array,
        required: true,
        validator(val: any[]): boolean {
          return val.every((entry: any) => {
            return typeof entry.min === "number"
                && typeof entry.max === "number"
                && typeof entry.height === "number"
                && typeof entry.width === "number"
                && typeof entry.src === "string";
          });
        }
      }
    }
  })
  export default class HeroModule extends Vue {
    // data
    // computed
    // life-cylce
  }
</script>

<style lang="scss">
    .hero {
        position: relative;
        overflow: hidden;
        height: calc(72vh - #{$size-navi-trigger});
        z-index: z-index("hero");

        @media (min-width: $screen-lg-min) {
            height: 44rem;
        }

        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            filter: saturate(25%);

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba($color-main, 0.25);
            }
        }

        &__content {
            max-width: 98.2rem;
            box-sizing: content-box;
            padding: 3rem $size-navi-trigger;
            height: calc(100% - 6rem);
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: $screen-md-min) {
                margin: 0 auto;
                padding: 4rem $size-navi-trigger + 1rem;
                height: calc(100% - 8rem);
            }
        }
    }
</style>