<template>
    <nav class="main-navi">
        <ul class="main-navi__list">
            <li v-for="navItem in navItems">
                <router-link :to="navItem.path" class="main-navi__item" v-if="navItem.type === 'link'">
                    <span class="main-navi__item-name">
                        {{navItem.name}}
                    </span>
                    <icon :icon="navItem.icon" class="main-navi__item-icon"/>
                </router-link>
                <router-link :to="navItem.path" class="main-navi__item main-navi__item--logo" v-else>
                    <span class="main-navi__logo">
                        {{navItem.name}}
                    </span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import Icon from "../atoms/Icon.vue";

  export interface IMainNaviLink {
    path: string;
    name: string;
    icon: string;
    type: "link";
  }

  export interface IMainNaviLogo {
    path: string;
    name: string;
    type: "logo";
  }

  export type TMainNaviItem = IMainNaviLink | IMainNaviLogo;

  @Component({
    components: {Icon},
    props: {
      navItems: {
        type: Array,
        required: true
      }
    }
  })
  export default class MainNavigation extends Vue {
  }
</script>

<style lang="scss">
    .main-navi {
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            height: 100%;
            width: calc(100% + #{$size-navi-trigger});
            transform: translateX(-$size-navi-trigger);
            transition: transform $duration-default-transition ease-in-out;

            .layout__navi--open & {
                transform: translateX(0);
            }

            @media (min-width: $screen-md-min) {
                transform: translateX(0);
                flex-direction: column;
                margin-top: 2rem;
            }

            > li {
                margin: 0;
                padding: 0;
            }
        }

        &__item {
            display: flex;
            margin-top: 2rem;
            min-height: $size-navi-trigger;
            color: $color-text;

            &:hover, &:focus, &:active {
                color: $color-text;
                text-decoration: none;
            }

            @media (min-width: $screen-lg-min) {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 100%;
                    top: 0;
                    bottom: 0;
                    width: calc((100vw - 120rem) / 2);
                    background: $color-bg;
                }
            }

            &--logo {
                width: 100%;
                height: $size-navi-trigger;
                color: $color-main;
                background: $color-bg;
                padding: 1rem 6rem 1rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover, &:focus, &:active {
                    color: $color-main;
                    text-decoration: none;
                }

                @media (min-width: $screen-md-min) {
                    width: calc(100% - #{$size-navi-trigger});
                    padding: 1rem;
                }

                @media (min-width: $screen-md-min) {
                    margin-bottom: 2rem;
                }
            }
        }

        &__logo {
            font-family: $font-title;
            font-size: 5rem;
            line-height: 1;
            transform-origin: center;
            transform: rotate(-10deg);
            text-shadow: 0.2rem 0.2rem 0 $color-bg,
                         0.2rem -0.2rem 0 $color-bg,
                         -0.2rem -0.2rem 0 $color-bg,
                         -0.2rem 0.2rem 0 $color-bg;
            margin-top: -0.4rem;

            @media (min-width: $screen-sm-min) {
                font-size: 6rem;
            }

            @media (min-width: $screen-md-min) {
                margin-top: -0.6rem;
            }
        }

        &__item-name {
            flex-grow: 1;
            padding: 1rem;
            background: $color-bg;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__item-icon {
            flex-shrink: 0;
            background: $color-main;
            width: $size-navi-trigger;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }
</style>