<template>
    <nav class="meta-navi">
        <ul class="meta-navi__list">
            <li v-for="navItem in navItems">
                <template v-if="navItem.type === 'link'">
                    <router-link :to="navItem.path" class="meta-navi__item"
                                 v-if="navItem.target === undefined || navItem.target === 'internal'">
                        {{navItem.name}}
                    </router-link>
                    <a :href="navItem.path" class="meta-navi__item" v-else target="_blank">
                        {{navItem.name}}
                    </a>
                </template>
                <span v-else class="meta-navi__item">
                    {{navItem.text}}
                </span>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  export interface IMetaLinkItem {
    path: string;
    name: string;
    type: "link";
    target?: "external" | "internal";
  }

  export interface IMetaTextItem {
    text: string;
    type: "text";
  }

  export type TMetaNaviItem = IMetaTextItem | IMetaLinkItem;

  @Component({
    components: {},
    props: {
      navItems: {
        type: Array,
        required: true
      }
    }
  })
  export default class MetaNavigation extends Vue {
  }
</script>

<style lang="scss">
    .meta-navi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;

        &__list {
            list-style: none;
            padding: 1em;
            margin: 0;

            > li {
                display: inline-block;
            }
        }

        &__item {
            font-weight: normal;
            color: $color-bg;
            padding: 0 1em;
            margin-bottom: 1em;
            display: inline-block;
            font-size: 1.2rem;
        }
    }
</style>