<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>recipeed</title>
    <style>
        .loader {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 200vmax;
            height: 200vmax;
            border-radius: 50%;
            background: #2af1a1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-out;
            z-index: 9999;
        }

        .loader--loaded {
            width: 0;
            height: 0;
        }

        .loader__circle {
            width: 200px;
            height: 200px;
            position: absolute;
            top: calc(50% - 100px);
            left: calc(50% - 100px);
            border-radius: 50%;
            background-color: #fff;
            background-image: url(img/logo.svg);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        .loader__circle::after {
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent;
            border-bottom-color: #fff;
            border-top-color: #fff;
            border-radius: 50%;
            animation: loader-circle-spin 2s infinite linear;
        }

        .loader__descr {
            display: none;
        }

        @keyframes loader-circle-spin {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry but recipeed doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app">

</div>
<div class="loader">
    <div class="loader__circle"></div>
    <div class="loader__descr">
        <h1>recipeed</h1>
        <p>recipeed let's you collect your favorite recipes and print them in a beautiful fashion. Everything is stored in your browser.</p>
    </div>
</div>
<!-- built files will be auto injected -->
</body>
</html>
