<template>
    <div :class="['column', ...widthClasses, ...offsetClasses]">
        <slot></slot>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";


  @Component({
    components: {},
    props: {
      width: {
        required: true,
        type: Array,
        valditator(val: any[]): boolean {
          return !(val.length !== 3
              || [1].indexOf(val[0]) < 0
              || [1, 2].indexOf(val[1]) < 0
              || [1, 2, 3].indexOf(val[2]) < 0);
        }
      },
      offset: {
        required: false,
        type: Array,
        default: () => [0, 0],
        validator(val: any[]): boolean {
          return !(val.length !== 2
              || [0, 1].indexOf(val[0]) < 0
              || [0, 1, 2].indexOf(val[1]) < 0);
        }
      }
    }
  })
  export default class Column extends Vue {
    // data

    // computed
    public get widthClasses(): string[] {
      const classes = [];
      classes.push(`column--xs-${this.$props["width"][0]}`);
      classes.push(`column--sm-${this.$props["width"][1]}`);
      classes.push(`column--md-${this.$props["width"][2]}`);
      return classes;
    }

    public get offsetClasses(): string[] {
      const classes = [];
      classes.push(`column--sm-offset-${this.$props["offset"][0]}`);
      classes.push(`column--md-offset-${this.$props["offset"][1]}`);
      return classes;
    }

    // life-cylce
  }
</script>

<style lang="scss">
    .column {
        &--xs-1 {
            grid-column-end: span 1;
        }

        @media (min-width: $screen-sm-min) {
            &--sm-1 {
                grid-column-end: span 1;
            }

            &--sm-2 {
                grid-column-end: span 2;
            }

            &--sm-offset-0 {
                grid-column-start: 1;
            }

            &--sm-offset-1 {
                grid-column-start: 2;
            }
        }

        @media (min-width: $screen-md-min) {
            &--md-1 {
                grid-column-end: span 1;
            }

            &--md-2 {
                grid-column-end: span 2;
            }

            &--md-3 {
                grid-column-end: span 3;
            }

            &--md-offset-0 {
                grid-column-start: 1;
            }

            &--md-offset-1 {
                grid-column-start: 2;
            }

            &--md-offset-2 {
                grid-column-start: 3;
            }
        }
    }
</style>