<template>
    <div :class="['container', {'container--fw': isFullwidth}]">
        <div :class="['container__inner', {'container__inner--fw': isFullwidth}]">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";


  @Component({
    components: {},
    props: {
      isFullwidth: {
        type: Boolean,
        required: false,
        default: false
      }
    }
  })
  export default class Container extends Vue {
    // data
    // computed
    // life-cylce
  }
</script>

<style lang="scss">
    .container {
        padding: 0 $size-navi-trigger;
        margin: 0 0 $size-module-space 0;

        @media (min-width: $screen-md-min) {
            padding: 0 $size-navi-trigger + 1rem;
            margin: 0 auto $size-module-space 0;
        }

        &--fw {
            padding: 0;

            @media (min-width: $screen-md-min) {
                padding: 0;
            }
        }

        &__inner {
            &:not(&--fw) {
                max-width: 98.2rem;

                @media (min-width: $screen-md-min) {
                    margin: 0 auto;
                }
            }
        }
    }
</style>