<template xmlns:v-touch="http://www.w3.org/1999/xhtml">
    <div class="layout" v-touch:swipe.left="closeNavOnSwipe" v-touch:swipe.right="openNavOnSwipe">
        <div :class="['layout__content', {'layout__content--closed': isNaviOpen}]">
            <slot></slot>
        </div>
        <div :class="['layout__navi', {'layout__navi--open': isNaviOpen}]" data-cy="navigation">
            <div class="layout__navi-content" @click="onNaviClick">
                <main-navigation :nav-items="navItems" class="layout__navi-main"/>
                <meta-navigation :nav-items="metaNavItems" class="layout__navi-meta"/>
            </div>
            <button class="layout__navi-trigger" @click="onTriggerClick" data-cy="navigation-trigger">
                <icon icon="burger" class="layout__navi-trigger-icon"/>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import Icon from "../atoms/Icon.vue";
  import MainNavigation from "../modules/MainNavigation.vue";
  import {TMainNaviItem} from "../modules/MainNavigation.vue";
  import {TMetaNaviItem} from "../modules/MetaNavigation.vue";
  import MetaNavigation from "../modules/MetaNavigation.vue";

  @Component({
    components: {MetaNavigation, MainNavigation, Icon},
  })
  export default class PageLayout extends Vue {
    // data
    private isNaviOpen: boolean = false;
    private navItems: TMainNaviItem[] = [
      {
        type: "logo",
        path: "/",
        name: "recipeed"
      },
      {
        path: "/",
        name: "Home",
        icon: "home",
        type: "link"
      },
      {
        path: "/create/",
        name: "Create a new recipe",
        icon: "new-recipe",
        type: "link"
      }
    ];
    private metaNavItems: TMetaNaviItem[] = [
      {
        path: "/imprint/",
        name: "Imprint",
        type: "link"
      },
      {
        path: "/tech/",
        name: "Technologies",
        type: "link"
      },
      {
        path: "/licenses/",
        name: "Licenses",
        type: "link"
      },
      {
        path: "https://gitlab.com",
        name: "Gitlab",
        type: "link",
        target: "external"
      },
      {
        text: `©${new Date().getFullYear()} Max Mühlbauer`,
        type: "text"
      }
    ];

    // events
    private onTriggerClick(): void {
      this.isNaviOpen = !this.isNaviOpen;
    }

    private onNaviClick(): void {
      this.isNaviOpen = false;
    }

    private openNavOnSwipe(): void {
      this.isNaviOpen = true;
    }

    private closeNavOnSwipe(): void {
      this.isNaviOpen = false;
    }
  }
</script>

<style lang="scss">
    .layout {
        position: relative;
        min-height: 100vh;
        max-width: 120rem;

        @media (min-width: $screen-lg-min) {
            margin: 0 auto;
        }

        &__content {
            z-index: z-index("content");
            overflow-x: hidden;
            margin-left: 1rem;

            @media (min-width: $screen-lg-min) {
                margin-left: 30rem;
            }

            &::after {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                background-color: rgba($color-bg, 0);
                transition: background-color $duration-default-transition ease-in-out;
                z-index: z-index("content-overlay-navi-open");

                @media (min-width: $screen-lg-min) {
                    display: none;
                }
            }

            &--closed {
                pointer-events: none;

                &::after {
                    background-color: rgba($color-bg, 0.75);

                    @media (min-width: $screen-lg-min) {
                        background-color: rgba($color-bg, 0);
                    }
                }
            }

            > * {
                background: $color-bg;
            }
        }

        &__navi {
            position: fixed;
            user-select: none;
            width: 80vw;
            max-width: calc(100vw - #{$size-navi-trigger * 2});
            top: 0;
            bottom: 0;
            left: 0;
            background: $color-text;
            border-right: $size-navi-border solid $color-main;
            transform: translateX(calc(-100% + #{$size-navi-border}));
            transition: transform $duration-default-transition ease-in-out;
            z-index: z-index("navi");

            &--open {
                transform: translateX(0);

                .layout__navi-trigger {
                    rect {
                        &:nth-child(1) {
                            width: 70%;
                            transform: translate(50%, 0) rotate(-45deg);
                        }

                        &:nth-child(2) {
                            transform: translate(100%, 0);
                        }

                        &:nth-child(3) {
                            width: 70%;
                            transform: translate(50%, 0) rotate(45deg);
                        }
                    }
                }
            }

            @media (min-width: $screen-sm-min) {
                width: 50vw;
            }

            @media (min-width: $screen-md-min) {
                width: 30vw;
            }

            @media (min-width: $screen-lg-min) {
                width: 30rem;
                transform: translateX(0);
                left: calc((100vw - 120rem) / 2);

                &::after {
                    content: "";
                    position: absolute;
                    right: 100%;
                    top: 0;
                    bottom: 0;
                    width: calc((100vw - 120rem) / 2);
                    background: $color-text;
                    z-index: -1; // so nav entries can overlay
                }
            }
        }

        &__navi-trigger {
            position: absolute;
            bottom: 28vh;
            right: -$size-navi-trigger;
            width: $size-navi-trigger;
            height: $size-navi-trigger;
            appearance: none;
            background: $color-main;
            border: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: $screen-md-min) {
                bottom: auto;
                top: 4rem;
            }

            @media (min-width: $screen-lg-min) {
                display: none;
            }

            rect {
                transform-origin: center;
                transition: all $duration-default-transition ease-in-out;
            }
        }

        &__navi-trigger-icon {
            width: calc(#{$size-navi-trigger} - 2rem);
            height: calc(#{$size-navi-trigger} - 2rem);
        }

        &__navi-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__navi-main {
            height: 72vh;
            flex-shrink: 0;
            flex-grow: 0;

            @media (min-width: $screen-md-min) {
                height: auto;
                flex-grow: 1;
            }
        }

        &__navi-meta {
            height: auto;
            flex-grow: 1;
            margin-top: 2rem;
        }
    }
</style>