<template>
    <div class="row">
        <slot></slot>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";


  @Component({
    components: {},
  })
  export default class Row extends Vue {
    // data

    // computed

    // life-cylce
  }
</script>

<style lang="scss">
    .row {
        display: grid;
        gap: $size-module-space;
        grid-template-columns: repeat(1, calc(#{percentage(1/1)} - #{$size-module-space * 0 / 1}));

        @media (min-width: $screen-sm-min) {
            grid-template-columns: repeat(2, calc(#{percentage(1/2)} - #{$size-module-space * 1 / 2}));
        }

        @media (min-width: $screen-md-min) {
            grid-template-columns: repeat(3, calc(#{percentage(1/3)} - #{$size-module-space * 2 / 3}));
        }
    }
</style>