<template>
    <div>
        <container>
            <row>
                <column :width="[1, 2, 3]">
                    <div style="background:#eee">adsfgh</div>
                </column>
            </row>
        </container>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import Container from "../components/layouts/Container.vue";
  import Row from "@/components/layouts/Row.vue";
  import Column from "@/components/layouts/Column.vue";

  @Component({
    components: {Container, Row, Column},
  })
  export default class NewRecipe extends Vue {
  }
</script>
