<template>
    <span :class="['icon', `icon--${icon}`, {'icon--inserted': iconInserted}]"
          :style="styling" v-html="iconCode"></span>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {AxiosResponse} from "axios";

  @Component({
    components: {},
    props: {
      icon: {
        type: String,
        required: true
      },
      styling: {
        type: Object,
        required: false,
        default() {
          return {};
        }
      },
    }
  })
  export default class Icon extends Vue {
    // data
    private iconCode: string = "";

    // computed
    private get iconInserted(): boolean {
      return this.iconCode !== "";
    }

    // life-cycle
    private created(): void {
      this.getIcon(this.$props["icon"])
          .then((code) => this.insertIcon(code));
    }

    private async getIcon(iconName: string): Promise<any> {
      return new Promise((resolve, reject) => {
        this.axios.get(`icons/${this.$props["icon"]}.svg`)
            .then((response: AxiosResponse<string>) => {
              if (response.status !== 200) {
                reject(response);
              }

              resolve(response.data);
            });
      });
    }

    private insertIcon(iconCode: string): void {
      this.iconCode = iconCode;
    }
  }
</script>

<style lang="scss">
    .icon {
        position: relative;
        display: inline-block;

        svg {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
</style>