<template>
    <div class="logo" :style="{'height': size, 'width': size}">
        <component :is="tag">
            <slot></slot>
        </component>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";


  @Component({
    components: {},
    props: {
      tag: {
        type: String,
        required: false,
        default: "h1",
        validator(val: string): boolean {
          return ["h1", "h2", "h3", "h4", "h5", "h6", "span"].indexOf(val) > -1;
        }
      },
      size: {
        type: String,
        required: false,
        default: "20rem"
      }
    }
  })
  export default class LogoElement extends Vue {
    // data
    // computed
    // life-cylce
  }
</script>

<style lang="scss" scoped>
    .logo {
        background: $color-bg;
        border-radius: 50%;
        position: relative;
        user-select: none;

        h1, h2, h3, h4, h5, h6, span {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%) rotate(-10deg);
            color: $color-main;
            font-family: $font-title;
            font-weight: normal;
            line-height: 1;
            text-shadow: 0.2rem 0.2rem 0 $color-bg,
                         0.2rem -0.2rem 0 $color-bg,
                         -0.2rem -0.2rem 0 $color-bg,
                         -0.2rem 0.2rem 0 $color-bg;
        }

        h1 {
            font-size: 8rem;
        }

        h2 {
            font-size: 7rem;
        }

        h3 {
            font-size: 6rem;
        }

        h4 {
            font-size: 5rem;
        }
    }
</style>