<template>
    <div :class="['responsive-image']">
        <img :class="['responsive-image__img', {'responsive-image__img--fixed-height': hasFixedHeight}]"
             v-if="type === 'img'" :src="srcObj.src" :alt="alt" :height="imageHeight">
        <div :class="['responsive-image__img', 'responsive-image__img--div', {'responsive-image__img--fixed-height': hasFixedHeight}]"
             v-else :style="{
                              'backgroundImage': `url(${srcObj.src})`,
                              'minHeight': `${imageHeight}px`,
                              'backgroundPosition': position
                            }"
             :title="alt"></div>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import ResizeObserver from "resize-observer-polyfill";

  export interface IRespImageSrcItem {
    min: number;
    max: number;
    height: number;
    width: number;
    src: string;
  }

  @Component({
    components: {},
    props: {
      type: {
        type: String,
        required: true,
        validator(val: string): boolean {
          return ["img", "bgimg"].indexOf(val) > -1;
        }
      },
      alt: {
        type: String,
        required: false
      },
      src: {
        type: Array,
        required: true,
        validator(val: any[]): boolean {
          return val.every((entry: any) => {
            return typeof entry.min === "number"
                && typeof entry.max === "number"
                && typeof entry.height === "number"
                && typeof entry.width === "number"
                && typeof entry.src === "string";
          });
        }
      },
      position: {
        type: String,
        required: false,
        default: "center"
      },
      hasFixedHeight: {
        type: Boolean,
        required: false,
        default: false
      }
    }
  })
  export default class ResponsiveImage extends Vue {
    // data
    private width: number = 0;
    private height: number = 0;
    private defaultSrc: IRespImageSrcItem = {
      min: 0,
      max: 99999,
      height: 1,
      width: 1,
      // tslint:disable:max-line-length
      src: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
      // tslint:enable:max-line-length
    };

    // computed
    private get srcObj(): IRespImageSrcItem {
      const srcArr = this.$props["src"] as IRespImageSrcItem[];

      if (this.width === 0) {
        return this.defaultSrc;
      }

      for (const src of srcArr.reverse()) {
        if (this.width >= src.min && this.width <= src.max) {
          return src;
        }
      }

      return srcArr[0] || this.defaultSrc;
    }

    private get imageHeight(): number {
      if (this.$props["hasFixedHeight"]) {
        return 1;
      }
      const ratio = this.srcObj.height / this.srcObj.width;

      return this.width * ratio;
    }

    // life-cylce
    private mounted(): void {
      const ro = new ResizeObserver((entries, observer) => {
        for (const entry of entries) {
          const {width, height} = entry.contentRect;
          this.width = width;
          this.height = height;
        }
      });

      ro.observe(this.$el);
    }
  }
</script>

<style lang="scss">
    .responsive-image {
        width: 100%;
        z-index: z-index("resp-img-container");
        position: relative;
        box-shadow: inset 0 0 0 1rem $color-main;

        &::before {
            content: "";
            position: absolute;
            width: 5rem;
            height: 5rem;
            max-width: calc(50%);
            max-height: calc(50%);
            border-style: solid;
            border-width: 1rem;
            border-top-color: $color-main;
            border-bottom-color: $color-main;
            border-left-color: transparent;
            border-right-color: transparent;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%);
        }

        &__img {
            width: 100%;
            z-index: z-index("resp-img");
            isolation: isolate;

            &--div {
                height: 100%;
                background-size: cover;
            }

            &--fixed-height {
                height: 100% !important;
            }
        }
    }
</style>