<template>
    <div id="app">
        <page-layout>
            <transition :name="transitionName">
                <router-view/>
            </transition>
        </page-layout>
    </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import PageLayout from "@/components/layouts/PageLayout.vue";
  import {Route} from "vue-router";

  @Component({
    components: {PageLayout},
    watch: {
      $route(to: Route, from: Route) {
        const toDepth = to.path.split("/").length;
        const fromDepth = from.path.split("/").length;
        (this as App).transitionName = toDepth < fromDepth ? "slide-out-current" : "slide-in-next";
      }
    }
  })
  export default class App extends Vue {
    // data
    public transitionName: string = "slide-in-next";

    // life-cycle
    public mounted(): void {
      this.removeLoader();
    }

    private removeLoader(): void {
      const loader = document.querySelector(".loader") as HTMLElement;
      loader.classList.add("loader--loaded");

      setTimeout(() => {
        (loader.parentElement as Node).removeChild(loader as Node);
      }, 500);
    }
  }
</script>

<style lang="scss">
    @import "styles/general";

    .slide-in-next-enter-active {
        transition: transform $duration-page-transition ease-in-out;
        z-index: z-index("content-enter");
        box-sizing: content-box;
        width: 100%;
        border-right: $size-navi-border solid $color-main;
        position: fixed;
    }
    .slide-in-next-leave-active {
        transition: opacity 1ms ease-in-out;
        transition-delay: $duration-page-transition;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .slide-in-next-enter {
        transform: translateX(-100%);
    }
    .slide-in-next-enter-to {
        transform: translateX(0);
    }
    .slide-in-next-leave-to {
        opacity: 0;
    }

    .slide-out-current-enter-active {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .slide-out-current-leave-active {
        transition: transform $duration-page-transition ease-in-out;
        z-index: z-index("content-enter");
        box-sizing: content-box;
        width: calc(100% - #{$size-navi-border});
        border-right: $size-navi-border solid $color-main;
        position: fixed;
    }
    .slide-out-current-enter {

    }
    .slide-out-current-enter-to {

    }
    .slide-out-current-leave {
        transform: translateX(0);
    }
    .slide-out-current-leave-to {
        transform: translateX(-100%);
    }

</style>
