html {
  font-size: 10px;

  @media (min-width: $screen-lg-min) {
    font-size: 0.833333333vw; // is 10px at $screen-lg-min; ensures good view on large displays
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}


img {
  display: block;
  width: auto;
  max-width: 100%;
}