@font-face {
  font-family: $font-title;
  src: url('~@/assets/fonts/Lobster-Regular.eot');
  src: local($font-title),
  url('~@/assets/fonts/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Lobster-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Lobster-Regular.woff') format('woff'),
  url('~@/assets/fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $font-body;
  src: url('~@/assets/fonts/Roboto-Regular-webfont.eot');
  src: local($font-body),
  url('~@/assets/fonts/~@/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('~@/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('~@/assets/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $font-body;
  src: url('~@/assets/fonts/Roboto-Bold-webfont.eot');
  src: local($font-body),
  url('~@/assets/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('~@/assets/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('~@/assets/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $font-body;
  src: url('~@/assets/fonts/Roboto-Light-webfont.eot');
  src: local($font-body),
  url('~@/assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto-Light-webfont.woff') format('woff'),
  url('~@/assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
  url('~@/assets/fonts/Roboto-Light-webfont.svg#robotobold') format('svg');
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: $font-body;
  font-weight: 500;

  @media (min-width: $screen-md-min) {
    font-weight: 300;
  }
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-main;
  font-weight: 700;

  &:hover, &:focus, &:active {
    color: $color-main;
    text-decoration: underline;
  }
}